<form>
  <fieldset>
    <legend>Formulário do cliente</legend>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="sobrenome" class="form-label">Sobrenome</label>
      <input type="text" class="form-control" id="sobrenome" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="data-de-nascimento" class="form-label">Data de nascimento</label>
      <input type="text" class="form-control" id="data-de-nascimento" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="cidade" class="form-label">Cidade</label>
      <input type="text" class="form-control" id="cidade" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="cpf" class="form-label">CPF</label>
      <input type="text" class="form-control" id="cpf" aria-describedby="emailHelp">
    </div>
  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>