<form [formGroup]="form">
  <fieldset>
    <legend>Formulário do fornecedor</legend>
    <!-- Forma simples passando o form como input e la no componente ele tem as mesmas props do form -->
    <!-- <app-opcao1-pessoa-form [form]="form"></app-opcao1-pessoa-form> -->
    <!-- <app-opcao2-pessoa-form></app-opcao2-pessoa-form> -->
    <app-opcao4-pessoa-form></app-opcao4-pessoa-form>
    <div class="mb-3">
      <label for="rg" class="form-label">RG</label>
      <input formControlName="rg" type="text" class="form-control" id="rg" />
    </div>
    <div class="mb-3 form-check">
      <input
        formControlName="hasCnh"
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
      />
      <label class="form-check-label" for="exampleCheck1">Possui CNH?</label>
    </div>
    <div class="mb-3">
      <label for="cnh" class="form-label">CNH</label>
      <input
        appEnableOnCheck2="hasCnh"
        formControlName="cnh"
        type="text"
        class="form-control"
        id="cnh"
      />
      disabled: {{ form.get('cnh')?.disabled }}
    </div>
  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<pre>
  {{ form.getRawValue() | json }}
</pre>
